div {
    margin: 80px auto;
    padding: 90px;
    width: 100px;
    height: 100px;
    background-color: brown;
    -webkit-transition: width 1s, heigh 1s, -webkit-transform 2s;
    transition: width 1s, height 1s, transform 2s;
}

div:hover {
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}